input.input-rec{
    display: block;
    width: 350px;
    height: 71px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 7px;
    padding-left: 40px;
    outline: none;
}

div.svgz > svg{
    position: absolute;
    top: 20px;
    left: 290px;
    cursor: pointer;
  }
  
  .regform-subheader{
    text-align: left;
    width: auto;
    padding-bottom: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    
    letter-spacing: 0.05em;
    
    color: #000000;
  }

  .rec-btn{  
    width: 300px;
    height: 80px;
    background: #000000;
    color: #FFFFFF;
    border-radius: 50px;
    
    }

    .rec-header{
        text-align: left;
        width: auto;
       height: 44px;
       font-family: Montserrat;
       font-style: normal;
       font-weight: 600;
       font-size: 30px;
       line-height: 44px;
       /* identical to box height */
       
       letter-spacing: 0.05em;
       
       /* kwuo pri variant */
       
       color: #000000;
      }


  @media (max-width: 768px){

    div.reg-form{
        margin-top: 50px;
      
        
    }
    .rec-header{
        font-size: 20px;
      
    }

    div.svgz > svg{
        position: absolute;
        top: 20px;
        left: 210px;
        cursor: pointer;
      }

      input.input-rec{
          width: 250px;
      }

      .rec-btn{
        width: 250px;
      }

      
    
}

@media only screen and (max-width: 375px) {
    .reg-header {
      font-size: 16px;
    }

    div.svgz > svg{
    
        left: 210px;
   
      }
  
     
  }

  @media only screen and (max-width: 320px) {
 

    
      div.reg-form {
        margin-left: -30px;
      }
     
  }

